<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="DBCon" connectionString="server=DESKTOP-1CC5538\MSSQLSERVER01;Database=Student;Trusted_Connection=True;"
      providerName="System.Data.ProviderName" />
    <add name="StudentEntities" connectionString="metadata=res://*/Student.csdl|res://*/Student.ssdl|res://*/Student.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1CC5538\MSSQLSERVER01;initial catalog=Student;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="StudentEntities1" connectionString="metadata=res://*/Student.csdl|res://*/Student.ssdl|res://*/Student.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1CC5538\MSSQLSERVER01;initial catalog=Student;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="StudentManagement.Properties.Settings.StudentConnectionString"
      connectionString="Data Source=DESKTOP-1CC5538\MSSQLSERVER01;Initial Catalog=Student;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>